<!-- 
<div class="aboutpage container p-3 my-5 border">

    <div class="row">
        <div class='col'>
            <h1>Gouru Srinivas Reddy</h1>
            <div class="container">
                <div style="text-align: center;">
                    <h4>( Software Engineer & Technical writer )</h4>
                </div>
            </div>
            <hr>
            <ngb-tabset type="pills" justify="fill">
                <ngb-tab title="Just About Me - (JAM)">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="My Education">
                    <ng-template ngbTabContent>
                        <div class="timeline">
                            <div class="container_data left">
                                <div class="content">
                                    <h2>2010</h2>
                                    <p>I have completed my Batchlor's in <a
                                            href="https://en.wikipedia.org/wiki/Electronic_engineering"
                                            target="_blank">Electronics and Communication Engineering</a> at <a
                                            href="https://kitssingapuram.ac.in/new/index.php" target="_blank">Kamala
                                            Institute of Technology and Science</a> </p>

                                </div>
                            </div>
                            <div class="container_data right">
                                <div class="content">
                                    <h2>2016</h2>
                                </div>
                            </div>
                            <div class="container_data left">
                                <div class="content">
                                    <h2>2004</h2>
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td>School</td>
                                            <td>{{ scName }}</td>
                                          </tr>
                                          <tr>
                                            <td>Percentage</td>
                                            <td>82%</td>
                                          </tr>
                                          <tr>
                                            <td>Place</td>
                                            <td>Huzurabad</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Work History">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Wanna see me</ng-template>
                    <ng-template ngbTabContent>
                        <div class='myImage'>
                            <img src="../assets/myImage/gouru.jpg" class="myimage">
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>

    </div>

</div> -->
