<!-- <div class='row' id='bioDiv'>
    
    <div class='col-4' id='image'>
        <img src="../assets/myImage/gouru_zoom.jpg" alt="My Image with smile :-)" class="myimage">
    </div>    
    <div class='col-8' id='nameAndDisc'>
        <div class='row' id='divName'>
            <h1 class='myName'>Gouru Srinivas Reddy</h1>
        </div>
        <div class='row'>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Recusandae eaque velit minima incidunt vitae quam delectus ipsam quo
                id consequuntur? Ex nisi beatae tenetur. Cumque temporibus similique
                accusantium quis deserunt quod vel soluta in sequi illo numquam nesciunt
                rerum commodi maiores ipsum ratione ad atque, quasi corrupti aut vitae quia.
            </p>
        </div>
    </div>

</div> -->
<div class='row' id='bioDiv'>
    <div class="container z-depth-1 py-5 my-5">
        <section class="mx-md-5 text-center text-lg-left">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="row p-5">
                        <div class="col-lg-8 d-flex flex-column justify-content-between" style="margin: 0em !important; padding: 0em !important;">
                            <p class="text-muted mb-4" style='color:white !important; line-height: 1.5em; font-size: 16px;'>
                                {{aboutMe}}
                            </p>
                            <div>
                                <p style='font-size: 30px;'>{{name}}</p>
                                <p>{{iDo}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex mb-2 align-items-center">
                            <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                                <img [src]="myImage" class="rounded-circle img-fluid z-depth-1"
                                    alt="woman avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
